    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin" #form='ngForm' (submit)="onSubmit()">
                  <div class="form-label-group">
                    <label>Username</label>  
                    <input class="form-control" name="userName" [(ngModel)]="userName" required>
                  </div>
    
                  <div class="form-label-group">
                    <label>Password</label>
                    <input class="form-control" type="password"  name="password" [(ngModel)]="password" required>
                  </div>
    
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="form.invalid || InProgress">Sign in
                    <i *ngIf="InProgress"
                    class="fa fa-spin fa-spinner"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    